.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.margin8{
  display: flex;
  margin: 8px;
}

.margin10 {
  margin: 10px;
}

.displayFlex{
  display: flex;
}
.alignCenter{
  align-items: center;
}
.marginAuto{
  margin:auto;
}
.width100{
  width:100%;
}


.user-details{
  text-align: center;
}

/* input {
  width: 250px;
  height: 40px;
} */


tbody tr:hover {
  background-color: rgb(114, 196, 235);
  cursor : pointer
}

.MuiAccordionSummary-root{
  background: lightblue;
}


@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.nav-horizontal {
  background: #61dafb;
  height: 85px;
  display: flex;
  justify-content: space-between;
  kpadding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}
  
.nav-menu-item{
  color: #21314e;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

  
.nav-menu{
  display: flex;
  align-items: center;
  margin-right: -24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
  
.nav-menu-link{
  border-radius: 4px;
  padding: 10px 22px;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
}

.nav-menu-link :hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #808080;
}

.nav-menu-link-active {
  background-color: #21314e;
  color: #fff;
}

.nav-user-greeting {
  margin-left: auto;
  margin-top: auto;
  padding: 10px;
}

.miles-banner {
  border-radius: 4px;
  border: solid 1px #d4d4d0;
  display: flex;
  width: 50% !important;
}

.miles-banner .col-md-3 {
  border-left: solid 0.1px #d4d4d0;
}

.miles-banner-components {
    border-bottom-color: transparent;
    padding-bottom: 0;
    padding-left: 1em;
    width: 33%;
    padding-top: 25px;
}

.miles-banner-components:first-child {
  margin-top: -1%;
  padding-bottom: 1.7%;
}

.reward-number {
  font-size: 32px;
}

.reward-title {
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #0c2340;
  text-transform: uppercase;
}

@media screen and (min-width: 720px) and (max-width: 1184px){
  .miles-banner {
      display: flex;
      justify-content: flex-start;
      overflow-wrap: break-word;
  }
}

.reward-icon {
  width: 80px;
  height: 100px;
  background-color: white;
}

.button-general {
  background-color: #21314e;
  color: #fff;
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.popup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popup-button {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.popup-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-self: center;
  align-items: center;
}

.popup-wrapper {
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}

.popup-side-content{
  border-left: 1px solid #d4d4d0;
}

.hide-parent{
  overflow: hidden
}

.popup-close-button {
  cursor: pointer;
  position:absolute;
  top: 20px;
  right: 40px;
  width: 10px;
  height: 10px;
  padding: 0;
  z-index: 10;
}

.popup-close-button img {
  width: 30px;
}


.register-checkbox-div {
 display: table-column !important
}

.btn-group{
  align-items: center !important;
}

.btn-spacing{
  margin: 20px !important;
}

.help-page {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 72%;
  padding: 0 3% 0 3%;
  text-align: justify;
}

.travel-advisory {
    float: none;
    margin: 0;
    width: 100%;
}

.travle-advisory-notice {
  display: block;
  border: 0.0625rem solid #039;
  padding: 2%;
  text-align: justify;
}

.baggage-policy-container{
  padding-bottom: 3%;
  border-bottom: solid 0.25px;
  margin-top: 3%;
}

.card-image-container{
  align-items: center;
  width: 200px;
  height: 200px;
  padding-top: 10%;
}

.card-image-container img{
  width: 190px;
  height: 190px;
}

.card-row {
  padding-top: 1.5%;
}

.page-hearder {
  padding-bottom: 1.5%;
  border-bottom: solid 0.20px #a3a9ad;
  margin-top: 3%;
  text-align: center;
}


.pass-form {
  display: flex;
}

.pass-form div {
  padding: 0 2% 2% 1.5%;
}

.pass-form-popup-content{
  display: "inline-block";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
  border-top: solid 0.25px #a3a9ad;
  padding-top: 1.5%;
}